$background: linear-gradient(to top, #000000, #434343);

$padding-zero: 0;
$padding__tiny-01: 4px;
$padding__tiny-02: 6px;
$padding__tiny-03: 8px;
$padding__small-01: 12px;
$padding__small-02: 18px;
$padding__medium-01: 24px;
$padding__medium-02: 28px;
$padding__medium-03: 36px;
$padding__large-01: 48px;

$margin-zero: 0;
$margin__miny-01: 2px;
$margin__small-01: 6px;
$margin__small-02: 12px;
$margin__small-03: 16px;
$margin__medium-01: 24px;
$margin__medium-02: 30px;
$margin__medium-03: 36px;
$margin__large-01: 60px;
$margin__large-02: 100px;

$white-01: white;
$black-01: #000000;
$red-01: red;
$gray-01: #eeeeee;
$gray-02: #9a9a9a;
$gray-03: #787878;
$gray-04: #8f8f8f;
$gray-05: #323232;
$gray-06: #a8a8a8;

$font__size-small: 14px;
$font__size-medium: 20px;
$font__size-large: 24px;
$font__size-larger: 28px;
$font__size-huge: 32px;
$line-height-01: 1.6;
$border-radius-01: 4px;