* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: white;
}
.warning {
	width: 100%;
	background: #99ff99;
	text-align: center;
	color: black;
	font-weight: bold;
	padding: 10px;
}

.content {
	margin: 0 auto;
	max-width: 800px;
	width: 100%;
	background: honeydew;
	box-shadow: 1px 1px 3px #e8e8e8;
	margin-top: 24px;
	padding: 24px;
}

.btn {
	display: flex;
}

.btn a  {
	text-decoration: none;
	color: black;
	border: 1px solid lightgreen;
	background: white;
	max-width: 100px;
	width: 100%;
	text-align: center;
	display: inline-block;
	padding: 12px;
	margin-left: 12px;
	border-radius: 4px;
	transition: background 0.6s;
	color: darkslategray;
	font-weight: bold;
	max-height: 47px;
}

.btn a:hover {
	background: palegreen;
}

.btn__update-nickname {
	text-decoration: none;
	color: black;
	border: 1px solid lightgreen;
	background: white;
	max-width: 100px;
	width: 100%;
	text-align: center;
	display: inline-block;
	padding: 12px;
	margin-left: 12px;
	border-radius: 4px;
	transition: background 0.6s;
	color: darkslategray;
	font-weight: bold;
}

.btn__update-nickname:hover {
	background: palegreen;
	cursor: pointer;
}

.desc .title {
	margin-top: 28px;
	font-size: 36px;
	color: darkslategray;
}

.desc .greeting__word {
	margin-top: 12px;
	color: darkslategray;
}

#message__box {
	margin-top: 12px;
	border: 1px solid #556b2f;
	outline: none;
	width: 90%;
	padding: 4px;
	border-radius: 4px;
	text-align: left;
	font-size: 16px;
	max-height: 200px;
}

.submit__btn {
	max-width: 100px;
	width: 100%;
	display: block;
	text-align: center;
	padding: 12px 0 ;
	margin-top: 16px;
	border: 1px solid #556b2f;
	border-radius: 4px;
	font-size: 16px ;
	transition: background 0.4s;
}

.submit__btn:hover{
	background: #556b2f;
	color: white;
	cursor: pointer;
}

hr {
	margin-top: 12px;
	height: 2px;
	border: 1px solid #556b2f;
}

.card {
	display: flex;
	margin-top: 16px;
}

.card + .card {
	margin-top: 36px;
}

.card__img {
	height: 50px;
	min-width: 50px;
	border-radius: 50%;
    background: #556b2f ;
}

.card__text {
	margin-left: 12px;
	word-break: break-word;
}

.card__text-content {
	line-height: 1.2em;
	margin-top: 8px;
	white-space: pre-line;
	word-break: break-word;
}

.nickname {
	color: olive;
	font-weight: bold;
	font-size: 16px;
}

.date {
	color: gray;
    margin-left: 4px;
}

.error__msg {
	color: red;
	margin-left: 12px;
}

.register {
	max-width: 400px;
}

.register div {
	margin-top: 24px;
}

.register div input {
	padding: 6px;
}

.hide {
	display: none;
}

.update__nickname-block input {
	display: block;
	margin-left: 12px;
	margin-top: 6px;
	padding: 4px;
	outline: none;
	border: 1px solid gray;
	border-radius: 4px;
}

.update__content-btn {
	text-decoration: none;
	color: olive;
	padding: 4px;
}

.page__info {
	text-align: center;
	color: darkslategray;
	margin-top: 4px;
}

.page__narator {
	display: flex;
	justify-content: center;
}

.page__narator a{
	text-decoration: none;
	color: darkslategray;
	padding: 6px;
	border: 1px solid darkslategray ;
	margin-top: 6px;
}

.page__narator a:hover {
	background: #556b2f;
	cursor: pointer;
	color: white;
	font-weight: bold;
	transition: 0.4s ease;
}

table {
	border: 1px solid black;
	border-collapse: collapse;
	margin-top: 24px;
}

td, th{
	padding: 8px;
	text-align: center;
}

p {
	word-break: break-word;
	white-space: pre-line;
}

.paragraph h3 {
	margin-top: 24px;
	color: darkslategray;
}

.warning__message {
	color: red;
	margin-top: 6px;
}